@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// customize styles
$green: #00b173;
$text: #5e5e5e;

$primary: $green;
$link: $green;
$text: $text;

@import '~bulma';
