/* font */
$font-size--body: 14px;
$font-size--title: 24px;
$font-size--subtitle: 20px;

body {
  /* Backgroud color */
  --color-bg-normal: #ffffff;
  --color-bg-primary: #2b303c;
  --color-bg-green: #22bb7a;
  --color-bg-input: #313745;

  /* Font color */
  --color-text-title: #ffffff;
  --color-text-default: #c0c3cb;
  --color-text-green: #22bb7a;
  --color-text-green-hover: #2de094;
  --color-text-gray: #696f7b;
  --color-text-gray-hover: #8a8e98;
  --color-text-red: #f56c6c;

  /* Border color */
  --color-border-default: #313745;
  --color-border-active: #3a4151;
}
